# This notebook contains examples using pandas_cub

In [1]:
import sys
sys.executable

'E:\\Anaconda3\\envs\\pandas_cub\\python.exe'

In [2]:
%load_ext autoreload
%autoreload 2

In [11]:
import numpy as np
import pandas as pd
import pandas_cub as pdc

### Creating DataFrame

In [13]:
name = np.array(['Deepak', 'Manoj', 'Prithvi'])
state = np.array(['Maharashtra', 'Karnatka', 'Gujarat'])
height = np.array(['5.3', '5.6', '5.5'])

df = pdc.DataFrame({'name':name, 'state':state, 'height':height})
df_pandas = pd.DataFrame({'name':name, 'state':state, 'height':height})

In [15]:
df

In [16]:
df_pandas

      name        state height
0   Deepak  Maharashtra    5.3
1    Manoj     Karnatka    5.6
2  Prithvi      Gujarat    5.5

### Reading data

In [7]:
emps = pdc.read_csv("data/employee.csv")

In [9]:
emps

In [10]:
# only first five rows
emps.head()

In [ ]:
# column