# This notebook contains examples using pandas_cub

In [1]:
import sys
sys.executable

'E:\\Anaconda3\\envs\\pandas_cub\\python.exe'

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
import numpy as np
import pandas as pd
import pandas_cub as pdc

### 1. Creating DataFrame  

DataFrame constructor take a single parameter - a `dict`: 
1. Keys must be string and will eventually form column names.
2. Values must be one dimensional numpy arrays.
3. All numpy arrays must have same length.
4. Unicode arrays will be converted to numpy object type.

In [4]:
name = np.array(['Deepak', 'Manoj', None])
state = np.array(['Maharashtra', 'Karnatka', None])
height = np.array([5.3, 5.6, np.NAN])
employed = np.array([True, False, np.NAN])

df = pdc.DataFrame({'name':name, 'state':state, 'height':height, 'employed':employed})
df_pandas = pd.DataFrame({'name':name, 'state':state, 'height':height, 'employed':employed})

In [5]:
df.dtypes

In [6]:
df_pandas

     name        state  height  employed
0  Deepak  Maharashtra     5.3       1.0
1   Manoj     Karnatka     5.6       0.0
2    None         None     NaN       NaN

In [7]:
df_pandas.dtypes

name         object
state        object
height      float64
employed    float64
dtype: object

In [8]:
df.isna()

### 2. Reading data from a file - read_csv()

`read_csv(path_to_csv_file)`: This method can only read comma separated files, unlike pandas which allows us to specify a separator using `sep` keyword argument.

In [9]:
emps = pdc.read_csv("data/employee.csv")

In [10]:
emps

### 3. Using len() function to find number of rows in DataFrame

In [11]:
len(emps)

1535

### 4. Get column names as list

In [12]:
emps.columns

['dept', 'race', 'gender', 'salary']

###  5. Setting column names
1. Column names should be given in a list
2. Number of column names in list should be equal to that in current DataFrame
3. All column names should be string.
4. Column names should not be duplicated.

In [13]:
emps.columns = ['department', 'race', 'sex', 'salary']

In [14]:
emps.head()

### 6. shape property
Returns a two value tuple consisting of no of rows and no of columns in the DataFrame.

In [15]:
emps.shape         # will return a tuple (no_of_rows, no_of_columns)

(1535, 4)

### 7. values property
Returns a single array of all the columns of data.

In [16]:
emps.values

E:\projects\pandas_cub\pandas_cub\pandas_cub\__init__.py:216: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.
  return np.column_stack(self._data.values())

array([['Houston Police Department-HPD', 'White', 'Male', 45279],
       ['Houston Fire Department (HFD)', 'White', 'Male', 63166],
       ['Houston Police Department-HPD', 'Black', 'Male', 66614],
       ...,
       ['Houston Police Department-HPD', 'White', 'Male', 43443],
       ['Houston Police Department-HPD', 'Asian', 'Male', 55461],
       ['Houston Fire Department (HFD)', 'Hispanic', 'Male', 51194]],
      dtype=object)

###  8. dtypes property

Returns a two column DataFrame with the column names in the first column and their data type as a string in the other.

In [17]:
emps.dtypes

### 9. Select a single column with the brackets

The value with in the bracket must be a string.

Returns a one column DataFrame of that column.

In [18]:
emps['salary']

### 10. Select multiple columns

The value within brackets must be a list of valid column names as string.

Returns a DataFrame of those columns.

In [19]:
emps[['department', 'race']]

### 11. Boolean selection with a DataFrame

Parameter in brackets must be a single column DataFrame consisting of boolean values.

In [20]:
emps[emps['race'] == 'Asian']

TypeError: DataFrame must be a boolean

### 12. Select a single cell of data

`dataframe[rs, cs]`  

**rs** must be integer. **cs** can be either integer or string.

Returns a single column DataFrame. This is different than pandas, which just returns a scalar value.

In [ ]:
emps[1, 'salary']

### 13. Simultaneously select rows and columns as booleans, lists, or slices.

`dataframe[rs, cs]` 

**rs** can be a single-column boolean DataFrame, list of integers, or a slice.  
**cs** can be a list of column names or integer/string slice.

In [ ]:
emps[23:45, 'race':'salary']

### 14. Create a new column or overwrite an old one.

Only one column can be set at a time.  

`df[key] = value`

1. **key** must be a string.
2. **value** must be a 1D numpy array or a scalar integer, string, float, or boolean.
3. If it is 1D numpy array, length of **value** must be same as that of DataFrame.
4. If **value** is scalar it will be repeated for whole length of DataFrame.
5. Unicode numpy array will be changed to numpy object type.

In [ ]:
emps['new_col'] = 5

In [ ]:
emps.head()

In [ ]:
emps = emps[['department', 'race', 'sex', 'salary']]
emps.columns

### 15. head(n=5) and tail(n=5) methods

In [ ]:
emps.tail(3)

### 16.  Aggregation methods

11 aggregation methods have been provided. They all work columnwise. Currently row aggregation is not supported.
Each of them returns a DataFrame with aggregation of each column.

`sum`, `min`, `max`, `var`, `std`, `any`, `argmax`, `argmin`, `median`, `all`, `mean`.  
`argmax` : returns index of max value in column.  
`argmin` : returns index of min value in column.

Some of these methods also act on string and boolean columns and may produce undesirable results such as string concatenation in case of sum. This is a bug and will be removed later.

In [ ]:
emps.mean()

### 17. isna() method

It returns a DataFrame the same shape as the original but with boolean values for every single value. Each value will be tested whether it is missing or not.

In [ ]:
df_pandas.isna()

### 18. count() method

Returns a single column DataFrame consisting of number of non missing values in each column.

In [ ]:
emps.count()

In [ ]:
df.count()

### 19. unique() method

This value will return unique values for each column in the DataFrame. Specifically it will return a list of one-column DataFrames of unique values in each column.

In [ ]:
u = emps.unique()

In [ ]:
u[1]

### 20. nunique() method

This method will return a single row DataFrame with number of unique values in each column.

In [ ]:
emps.nunique()

### 21. value_counts() method

Returns a list of DataFrames, unless there is just one column, then just return a single DataFrame. Each DataFrame will be two columns. The first column name will be the name of original column. The second column name will be `count`. The first column will contain the unique values in the original DataFrame column. The `count` column will hold frequency of each unique value in that column.

In [ ]:
counts = emps.value_counts()
counts[0]

In [ ]:
counts[1]

### 22.  Normalize value counts

`value_counts(normalize=True)` returns a list of DataFrames with relative frequencies of unique values in each column instead of absolute counts.

In [ ]:
dfs = emps.value_counts(normalize=True)
dfs[0]

### 23. rename(column_dict) method

It is used to rename one or more column names. Takes a dict consisting of old column names mapped to new column names. Returns a new DataFrame.

In [ ]:
emps.rename({'sex':'gender'})

### 23. drop(columns) method

Accepts a single string or a list of column names as strings. Returns  DataFrame without those columns.

In [ ]:
emp = df['employed']
df.drop(['employed'])

In [ ]:
df['employed'] = np.array([True, False, None])

In [ ]:
df

### 24. Non-aggregation methods

This include functions such as - cummin, cummax, cumsum, clip, abs, round, copy. `str` columns are returned as they are.

In [ ]:
emps.cummin().head()

### 25. diff(n=1) method

The `diff` method accepts a single parameter `n` and takes the difference between the current row and the `n` previous row. `n` can be either a negative or positive integer. first or last n values will be `np.nan`(missing). An integer column will be converted it to a float first as integer arrays cannot contain missing values.

In [ ]:
emps.diff(n=3).head()

### 25. pct_change(n=1) method

It is identical to `diff()` except that it returns percentage change instead of raw difference.

In [ ]:
emps.pct_change(n=2).head()

### 26. Arithmetic and comparison operators
Operators provided: &nbsp;+, &nbsp;-, &nbsp;* , &nbsp;%(modulus), &nbsp;/(true division), &nbsp;//(floor division) , &nbsp;** (exponentiation), &nbsp;>, &nbsp;<, &nbsp;<=, &nbsp;>=, &nbsp;==, &nbsp;!=

These don't work on string columns and they are returned as it is.

In [ ]:
emps + 9000

### 27. sort_values(by, asc=True) method

`by` is list of columns of type string according to which we want to sort our DataFrame. If there is only one column then `by` can be a string or a list.

In [ ]:
emps.sort_values(['salary', 'race', 'sex'], asc=False)

### 28. sample(n=None, frac=None, replace=False, seed=none) method

Returns randomly selected samples of DataFrame rows.  
`n`: An integer value, determines how many rows to return.  
`frac`: Fraction of rows to be returned. We can provide either `n` or `func`.  
`replace`: Whether to select same row more than once or not.    
`seed` : Seed value for numpy's random number generator.

In [ ]:
emps.sample(frac=0.2)

### 30. pivot_tables( rows = None, columns = None, values = None, aggfunc = None )

Returns a pivot table(also a DataFrame)

`rows`: A column of DataFrame. It's unique values form a new column in pivot table.  
`columns`: Also a column of DataFrame. It's unique values form the columns of the pivot table.  
`rows` and `columns` are called **grouping columns**.  

`values`: In addition to the grouping columns is the **aggregating column**. This is typically a numeric column that will get summarized.    
`aggfunc`: The last component of a pivot table is the **aggregating function**. This determines how the aggregating columns get aggregated.  

We can provide either `rows` or `columns` or both. `aggfunc` can only be provided if `values` is provided, otherwise we can omit both. In such a case contigency table is returned.

In [26]:
# gives mean salaries of each gender in their race
emps.pivot_table(rows='race', columns='sex', values='salary', aggfunc='mean')

### 31. String Methods

Total of 25 methods have been provided. These can be accessed using accessor `str`. For Example to convert each value in `race` column to upper case use:  
                
                        emps.str.upper('race')
                        
These all methods have same prototype as in python. They return a single column DataFrame of transformed column.
1. `capitalize(col)`
2. `center(col, width, fillchar=None)`
3. `count(col, sub, start=None, stop=None)`
4. `endswith(col, suffix, start=None, stop=None)`
5. `startswith(col, suffix, start=None, stop=None)`
6. `find(col, sub, start=None, stop=None)`
7. `len(col)`
8. `get(col, item)`
9. `index(col, sub, start=None, stop=None)`
10. `isalnum(col)`
11. `isalpha(col)`
12. `isdecimal(col)`
13. `islower(col)`
14. `isnumeric(col)`
15. `isspace(col)`
16. `istitle(col)`
17. `isupper(col)`
18. `lstrip(col, chars)`
19. `rstrip(col, chars)`
20. `strip(col, chars)`
21. `replace(col, old, new, count=None)`
22. `swapcase(col)`
23. `title(col)`
24. `lower(col)`
25. `upper(col)`
26. `zfill(col, width)`
27. `encode(col, encoding='utf-8', errors='strict')`

In [33]:
emps.str.upper('race').head()

In [37]:
emps.str.swapcase('race').head()

In [40]:
emps.str.len('department').head()